# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Angular build
dist/
tmp/
out-tsc/

# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db

# Tests y coverage
coverage/
